.create-page .form-field input,
.create-page .form-field textarea {
  border-radius: 14px;
  background-color: var(--Silky-white);
}

.create-btn {
  width: 100%;
  height: 44px;
  background: var(--Pang-orange);
  color: var (--Indigo);
  border: 1px solid var(--Indigo);
  border-radius: 14px;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}
