/* Home Page Styles */

a.post-card {
  background-color: var(--Light-grey);
}

.site-header {
  background-color: var(--Indigo);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 390px;
  height: 80px;
  z-index: 9999;
  padding: 16px;
  box-sizing: border-box;
}

.top-banner-logo {
  background-color: var(--Indigo);
  display: flex;
  align-items: center;
  height: 100%;
}

.app {
  max-width: 390px;
  margin: 0 auto;
}

.page-title {
  font-family: var(--h2-font);
  font-size: 1.5em;
  line-height: 0.5em;
  padding: 0 0 0 16px;
}
.front-page-text {
  font-family: var(--body-font);
  font-size: 1rem;
  margin-bottom: 0.1em;
  padding: 0 0 0 16px;
}

.feed-section-one {
  font-family: var(--body-font);
  font-size: 0.85rem;
  margin-top: 0.1em;
  margin-bottom: 0;
  padding: 0 0 0 16px;
}

.post-grid {
  display: grid;
  grid-template-columns: 1fr 1fr (minmax(200px, 1fr));
  padding: 1em;
  gap: 1em;
}

.post-card {
  position: relative;
  overflow: hidden;
  height: 220px;
  cursor: pointer;
  border-radius: 10px;
}

.post-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
}

.post-card-body {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1em;
  color: var(--bg-color);
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  font-weight: 400;
  letter-spacing: 0.1px;
  font-size: 0.6rem;
  line-height: 0.5;
}
