/* Profile Styles */

.page-title {
  width: 700px;
  max-width: 90%;
  margin: 0 auto 24px auto;
  text-align: left;
}

.edit-profile-page-title {
  margin-top: 48px;
}

.profile-page-title {
  margin-top: 48px;
}

.profile-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;

  border: 0.5px solid var(--text-color);
  margin: 0 auto 24px auto;
  display: block;
}

.profile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 700px;
  max-width: 90%;

  padding: 24px;
  margin: 0 auto 24px auto;

  background: #f7f3e7;

  border: 1px solid #d9d9d9;
  border-radius: 24px;
}
.profile-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.username {
  margin-top: 12px;
  margin-bottom: 4px;
}
.profile-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
  gap: 12px;
}

.stat h3 {
  margin: 0;
  font-size: 18px;
}

.stat p {
  margin: 0;
}
.stat {
  text-align: center;
  width: 100%;
}

.profile-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px 16px 8px 16px;
  padding: 12px;
  border-radius: 14px;
  border-width: 0.5px;
  border-style: solid;
  border-color: var(--Light-gray);
  box-sizing: border-box;
}
.edit-btn {
  margin-top: 12px;

  background: #ff981a;

  color: #212844;
  text-decoration: none;

  font-weight: 700;
  font-size: 14px;

  padding: 8px 20px;

  border-radius: 999px;

  border: 2px solid #22284a;

  box-shadow: 2px 3px 0px #22284a;
}

.btn.btn-primary {
  background: #ff981a;

  color: black;
  text-decoration: none;

  font-weight: 700;

  padding: 12px 28px;

  border-radius: 999px;

  border: 2px solid #22284a;

  box-shadow: 2px 3px 0px #22284a;

  cursor: pointer;
}
.profile-description {
  width: 700px;
  max-width: 90%;

  margin: 0 auto 48px auto;

  background: white;

  border: 1px solid #d9d9d9;
  border-radius: 24px;

  padding: 24px;
  min-height: 300px;
}
.profile-left h2 {
  margin: 8px 0 2px 0;
  font-size: 24px;
}

.username {
  margin: 0;
  font-size: 12px;
}

.location {
  margin-top: 8px;
  font-size: 12px;
}
